.hero {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title {
    width: 696px;
    margin: 0 auto 30px auto;
}

.hero__button {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.super {
    padding-bottom: 50px;
}

.work-grid__text {
    margin-top: 10px;
}

.work,
.photos,
.team,
.clients {
    padding: 94px 0 94px 0;
}

.work {
    padding-bottom: 0;
}

main ul {
    column-gap: 30px;
}

.work-grid__item {
    width: 270px;
}

.work-grid__icon {
    width: 70px;
}

.photos-grid__item {
    position: relative;
}

.photos-grid__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 27px 0 27px 0;
}

.back {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textcard {
    align-items: center;
    padding: 30px 59px 30px 60px;
}

.team-grid__title {
    width: max-content;
}

.team-grid__text {
    margin-top: 10px;
}

.social--team {
    margin-top: 16px;
}

.clients-grid__back {
    width: 170px;
    height: 90px;
    object-fit: contain;
}

.clients-grid__item {
    &:nth-child(1) .clients-grid__icon {
        width: 44.27px;
    }
    &:nth-child(2) .clients-grid__icon {
        width: 40px;
    }
    &:nth-child(3) .clients-grid__icon {
        width: 41px;
    }
    &:nth-child(4) .clients-grid__icon {
        width: 79.66px;
    }
    &:nth-child(5) .clients-grid__icon {
        width: 59px;
    }
    &:nth-child(6) .clients-grid__icon {
        width: 88.48px;
    }
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    & label {
        display: block;
        margin-top: 10px;
    }
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal__close {
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 8px;
    right: 8px;
}

.modal-form__legend {
    width: 100%;
    margin: 0;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal-form__commentbox,
.modal-form__textbox {
    display: block;
}

.modal-form__textbox {
    width: 448px;
    height: 40px;
    margin-top: 4px;
}

.modal-form__input,
.modal-form__checkbox {
    position: relative;
}

.icon--modal {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    object-fit: contain;
    background-color: transparent;
}

.modal-form__checkbox-icon {
    top: 0;
    left: 0;
}

.modal-form__commentbox {
    width: 448px;
    height: 120px;
    resize: none;
    margin-top: 4px;
}

.modal-form__license {
    margin-top: 20px;
}

.modal-form__checkbox {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 7px;
}

.modal-form__submit {
    margin-top: 30px;
    width: 200px;
    height: 50px;
}